html, body { 
  width: 100%; 
  height: 100%; 
}

.producer-status {
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  text-align: center;
  margin: 1em 0 1em 0;
}

.song-info {
  margin: 3em 0 0 2em;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
}

.song-info a {
  color: #FFFFFF
}

/* top | right | bottom | left */
#producer-list-group-row, #performer-list-group-row, #song-list-group-flush {
  border-bottom: 1px solid #ccc;
  margin: auto;
  width: 50%;
  font-family: 'Roboto', 'sans-serif';
  font-style: "medium";
  font-weight: 700;
  font-size: 15px;
}

.search-result-subtitle, #album-title-search-result {
  font-family: 'Roboto', 'sans-serif';
  font-style: "medium";
  font-weight: 700;
  font-size: 30px;
}

#song-list-group-row {
  padding-right: 30%;
  padding-left: 30%;
}

.vet-tag {
  width: 5%;
  height: 5%;
}

.no-results {
  margin: 3em 0 0 1em;
  text-align:center;
}

#song-list-group-flush2 {
  border-bottom: 1px solid #ccc;
  margin: auto;
  font-family: 'Roboto', 'sans-serif';
  font-style: "medium";
  font-weight: 700;
  font-size: 15px;
}

#singles-list-group-flush {
  margin: 0 6em 0 0;
  width: 50%;
}


#song-list-item, #singles-list-item, #performer-singles-list-item {
  font-family: 'Roboto', 'sans-serif';
  font-style: "medium";
  font-weight:700;
  left: 0;
  flex-flow: 
}

#song-list-item2 {
  font-family: 'Roboto', 'sans-serif';
  font-style: "medium";
  font-weight:700;
  left: 0;
  justify-content: center;
}

#song-list-item-song-title, #singles-list-item-song-title, #performer-singles-list-item-song-title {
  font-size: 16px;
}

#song-list-item-performer-name, #singles-list-item-performer-name, #performer-song-list-item-performer-name, #performer-song-list-item-performer-name-2 #performer-song-list-item-performer-name-3 {
  font-size: 13px;
}

#song-list-title {
  margin: auto;
}

.pagination {
  font-family: 'Roboto', 'sans-serif';
  font-style: "medium";
  font-weight:700;
  justify-content: center;
  background-color: #f1f1f1;
}


#song-content {
  /* The image used */
  background-image: url("audience-band-concert-110.jpg");
  /* Full height */
  height: 100%; 

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#song-player {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #FAA916;
}

.charts-header, .album-header, .singles-header {
  font-family: 'Roboto', 'sans-serif';
  font-style: "medium";
  font-weight: 700;
  font-size: 30px;
  margin: 1em 0 0 0;
}

.search-container {
  padding-right: 30%;
  padding-left: 30%;
  background-color: #f1f1f1;
}

.search-sub-container {
  background-color: #f1f1f1;
}

.album-search-sub-container {
  padding-right: 20%;
  padding-left: 20%;  
  background-color: #f1f1f1;
}

#list-container {
  justify-content: center;
  background-color: #f1f1f1;
}

#search-end, #other-pages{
  background-color: #f1f1f1;
  padding: 11em 0 11em 0;
}

#main-search-bar {
  width: 400px;
}

.year {
  font-family: 'Roboto', 'sans-serif';
  font-style: "medium";
  font-weight: 700;
  font-size: 29px;
  margin: 1.5em 0 0.5em 0;
}

#homepage-search {
  position: center;
  z-index: 1;
}


.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  box-shadow: 5px 5px 18px #888888;
}

.navbar-brand{
  color: #FAA916;
  font-weight: 700;
}

.btn, .nav-link {
  color: #FFFFFF;
  font-family: 'Roboto', 'sans-serif';
  font-weight:700;
}

.row.content {
  height: 1500px
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail, .holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.holy-grail-content {
  flex: 1 1 auto;
}

.holy-grail-sidebar-1 {
  order: -1;
}

.sidenav {
  background-color: #f1f1f1;
}

.sticky-top{
  position: fixed;
  top: 0;
  width: 100%;
}

#page-contents, #performer-page-contents{
  margin: 4em 0;
}

#sub-page-contents, #performer-sub-page-contents {
  margin: 0 0 0 2em;
}

.card-title {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
}

.card-body {
    background-color: #f1f1f1;
}

.album-title {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 18px;
}

.album-performer-name {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 15px;
}

#artist-song-list, #performer-song-list {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-size: 15px;
}

.avatar {
  width:280px;
  height:280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:3px solid black;
  border-radius: 50%;
  box-shadow: 5px 10px 18px #888888;
}

.song-avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border:3px solid black;
  border-radius: 50%;
}

.avatar-container {
  align-items: center;
  padding: 1em;
  text-align: center;
  z-index: 1;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
}

.song-producer-row {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}


/* Style the video: 100% width and height to cover the entire window */
.video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#homepage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  color: #FAA916;
}

#homepage h1 {
  font-family: 'Rock Salt', cursive;
  font-size:100px;
  text-shadow: black 0px 0px 10px;
  text-align: center;
}

h2 {
  font-family: 'Roboto', 'sans-serif';
  font-weight:700;
}

.list-title {
  font-family: 'Roboto', 'sans-serif';
  font-weight:700;
  font-size:50px;
  margin: 1em 0 0 0;
}

.list-subtitle {
  font-family: 'Roboto', 'sans-serif';
  font-weight:700;
  font-size:50px;
  margin: 0 0 0 0;
}

.artist_name {
  font-family: 'Rock Salt', cursive;
  font-size: 30px;
}

.related_artists{
  margin: 1em 0 3em 1em;
  font-family: 'Roboto', 'sans-serif';
  font-weight:700;
}

#album-cover-art-large {
  width:60%;
  height:60%;
  box-shadow: 5px 10px 18px #888888;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#cover-art-large{
    display:block;
    margin:auto;
    margin-top:2em;
}

#album-description {
  font-family: 'Rock Salt', 'cursive';
  font-size: 30px;
  margin: 3em 0 0 2em;
}

#myBtn {
  width: 50px;
  font-family: 'Roboto', 'sans-serif';
  font-weight:700;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


#search-result-title {
  font-family: 'Roboto', 'sans-serif';
  font-weight:700;
  font-size: 50px;
  margin-top: 2em;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

#svg_container{
  margin: auto;
}

.producer-info-header h1 {
  margin: 1em 0 0 0;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

.sidebar-sticky {
  height: calc(100vh - 70px);
  position: sticky;
  top: 71px;
  background-color: #f1f1f1;
  overflow-y: auto;
}


.col-sm-3 {
  background-color: #f1f1f1;
}

.bio {
  font-size: 14px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-style: "light";
  margin: 1em;
}

#my-name{
  font-family: 'Rock Salt', 'cursive';
  font-size:90px;
  text-align: right; 
  padding-left: 30px;
}

#resume-name-and-title {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  font-style: "light";
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  right: 0;
}

#my-title {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  background-color: #FAA916;
  text-align: right;
  right: 0;
  width: 104%;
  opacity: 0.8;
  position: bottom;
  padding-right: 2px;
  margin: 0 0 10em 0;
}

#inspired-box {
  padding: 160px 0;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px;
}

.left {
  left: 0;
  text-align: center;
  border-right: 3px solid black;
  background-image: url("sasha-stories-746530-unsplash.jpg");
  background-size: cover;
}

.left-test{
  text-align: left;
  margin-top: 3em;
  background-color: #FAA916;
  width: 20%;
  padding: 20px;
  display: flex;
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93%;
}

.card {
  margin: 0.5em;
  box-shadow: 5px 10px 18px #888888;
}

#producer_song_donutChart {
  margin: 0 0 2em 0;
}

.signature {
  margin: 1em;
}

.justify-content-between{
  align-items: center;
  margin: auto;
  width:50%;
}

.album-song-content {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2em;
}

.node {
  cursor: pointer;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#vis {
  width: 280px;
  height: 280px;
}

#bubble-title {
  margin-top: 2em;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 25px;
}

#album-song-content {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
}

.page-end {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  color:#000000;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 1em;
  justify-content: center;
}

#attribution-links {
  margin: 3em 0 0 0 ;
}