{% extends "base.html" %}

{%block before_nav %}
{% endblock %}

{% block title %}{{producer.producer_name}}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <aside class="col-sm-3 sidebar">
        <nav class="sidebar-sticky">
          <div class="producer-info">
            <div class="producer-info-header">
              <div align= "center" class="artist_name">
                <!-- Show producer's status depending on their album release years. -->
                {% if album_years %}
                  {% if producer.producer_id == 200 %}
                    {{producer.producer_name}} <img src="/static/star.png" class="vet-tag" data-toggle="tooltip" data-placement="right" data-delay="-1" title="Industry Vet">
                  {% else %}
                    {{producer.producer_name}}
                  {% endif %}
                {% else %}
                  {{producer.producer_name}}
                {% endif %}
              </div>
              <br>

              <!-- Show producer's image. -->
              <img src="{{ producer.producer_img_url }}" class="avatar" alt="{{ producer.producer_name }}">
            </div>
            <div class="producer-info-content">
              <!-- Show producer's signature. -->
              {% if producer.producer_tag_url %}
                <div class="signature">
                  {% if producer.producer_id == 200 %}
                  <b>Occupation</b>: Politician, Mayor of San Francisco
                  {% else %}
                  <b>Occupation</b>: Student, Ida B Wells High School
                  {% endif %}
                  </br>
                  </br>
                  <b>Recent Speech</b>: 
                  <iframe width="40" height="40" src="{{ producer.producer_tag_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
                </div>
              {% endif %}
              <div class="bio">
                {% if producer.producer_id == 200 %}
                I am the 45th mayor of the City and County of San Francisco. I formerly served as supervisor for District 5, and was president of the Board of Supervisors from 2015 to 2018.

Raised in poverty in the Western Addition neighborhood of San Francisco, I worked in government after college. I was elected to the Board of Supervisors in 2012 (taking office in January 2013), and elected its president in 2015. As president of the Board, I became the acting mayor of San Francisco following the death of Mayor Ed Lee. I served in this role from December 12, 2017 to January 23, 2018.

I was the winning candidate in the San Francisco mayoral special election held on June 5, 2018. I am the first Black woman and second woman overall to be elected mayor of San Francisco. I was sworn in as mayor on July 11, 2018.
              {% else %}
                I am a junior at Ida B. Wells High School.  I really care about green energy and cannot wait to become an clean energy engineer.  Today, I help educate my community on how to reduce their carbon footprint.
              {% endif %}
              </div>
            </div>
          </div>

              <!-- Show related producers. -->
              <div class="related_artists">
<!--                 <div id="attribution-links">
                  Thanks, <a href= "https://genius.com/" alt="Genius"><img src="http://images.genius.com/8ed669cadd956443e29c70361ec4f372.1000x1000x1.png" width="25" height="20" ></a> and <a href="https://geo.itunes.apple.com/us/" style="display:inline-block;overflow:hidden;background:url(https://tools.applemusic.com/embed/v1/app-icon.svg) no-repeat;width:40px;height:40px;"></a>!
                </div> -->
              </div>
          </nav>
        </aside>
        <div id="page-contents" class="col-sm-9">
          <div id="sub-page-contents">
            {% if producer.songs %}
              <div class="charts-header">Number of initiatives {{ producer.producer_name }} has completed by SDG</div>

              <!-- Show producer's performer frequency donut chart. -->
              <div class="donut_chart">
                <canvas id="producer_song_donutChart"></canvas>
                <div id="producer_song_donutLegend" class="chart-legend"></div>
              </div>
              <!-- Show producer's song frequency line chart. -->
              <div class="line_chart">
                <canvas id="producer_song_lineChart"></canvas>
                <div id="producer_song_lineLegend" class="chart-legend"></div>
              </div>
              
              <script src="/static/producer_charts.js"></script>
              <br>
              
                <!-- Return songs producer has produced by album and year, if album exists, with links to the songs' pages. -->
              {% if album_years %}
                <div class="album-header">Events</div>
                {% for year in album_years %}
                  <div class="year">{{year}}</div>
                  <div class="card-columns">
                    {% for album in producer.albums %}
                      {% if album.album_release_date.strftime("%Y") == year %}
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="{{ album.cover_art_url }}" alt="{{ album.album_title }}">
                          <div class="card-body">
                            <header class=""><a class="album-title" href="/albums/{{ album.album_id }}"><b><i>{{ album.album_title }}</b></i></a><br><a class="album-performer-name" href="/performers/{{ album.performers[0].performer_id }}">{{ album.performers[0].performer_name }}</a></header>
                          </div>
                          <ul class="list-group list-group-flush">
                            {% for song in album.songs %} 
                              {% if producer in song.producers %}
                                <li id="artist-song-list" class="list-group-item">
                                  <a href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endfor %}
              {% endif %}

              <!-- Return song details (title and performer and their respective pages) without albums. -->
              <!-- <div class="singles-header">Singles</div> -->
              <ul id="singles-list-group-flush" class="list-group list-group-flush">
                {% for song in producer.songs %}
                  {% if not song.albums %}               
                    <li id="singles-list-item" class="list-group-item">
                      <a id="singles-list-item-song-title" href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a> 
                      {% if song.performers %}
                       - <a id="song-list-item-performer-name" href="/performers/{{ song.performers[0].performer_id }}">{{ song.performers[0].performer_name }}</a>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <br>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
{% endblock %}
