{% extends "base.html" %}

{%block before_nav %}
{% endblock %}

{% block title %}ProTag - {{producer.producer_name}}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <aside class="col-sm-3 sidebar">
        <nav class="sidebar-sticky">
          <div class="producer-info">
            <div class="producer-info-header">
              <div align= "center" class="artist_name">
                <!-- Show producer's status depending on their album release years. -->
                {% if album_years %}
                  {% if album_years[-1]|int < 2008 %}
                    {{producer.producer_name}} <img src="/static/Blank-Tag-PNG-Pic.png" class="vet-tag" data-toggle="tooltip" data-placement="right" data-delay="-1" title="Industry Vet">
                  {% else %}
                    {{producer.producer_name}}
                  {% endif %}
                {% else %}
                  {{producer.producer_name}}
                {% endif %}
              </div>
              <br>

              <!-- Show producer's image. -->
              <img src="{{ producer.producer_img_url }}" class="avatar" alt="{{ producer.producer_name }}">
            </div>
            <div class="producer-info-content">
              <!-- Show producer's signature. -->
              {% if producer.producer_tag_url %}
                <div class="signature">
                  <b>Signature</b>: 
                  <iframe width="40" height="40" src="{{ producer.producer_tag_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
                </div>
              {% endif %}
              <div class="bio">
                {{ bio }}
              </div>
            </div>
          </div>

              <!-- Show related producers. -->
              <div class="related_artists">
                <b>Related producers</b>:
                
                {% set comma = joiner(",") %}
                {% for producer in all_producers %}
                    {% if producer.producer_id in related_producers %}
                      <!-- Comma separate related producer list. -->
                      {{ comma() }} <a href="/producers/{{ producer.producer_id }}">{{ producer.producer_name }}</a>
                    {% endif %}
                {% endfor %}
                <div id="attribution-links">
                  Thanks, <a href= "https://genius.com/" alt="Genius"><img src="http://images.genius.com/8ed669cadd956443e29c70361ec4f372.1000x1000x1.png" width="25" height="20" ></a> and <a href="https://geo.itunes.apple.com/us/" style="display:inline-block;overflow:hidden;background:url(https://tools.applemusic.com/embed/v1/app-icon.svg) no-repeat;width:40px;height:40px;"></a>!
                </div>
              </div>
          </nav>
        </aside>
        <div id="page-contents" class="col-sm-9">
          <div id="sub-page-contents">
            {% if producer.songs %}
              <div class="charts-header">Number of songs {{ producer.producer_name }} has produced by performer</div>

              <!-- Show producer's performer frequency donut chart. -->
              <div class="donut_chart">
                <canvas id="producer_song_donutChart"></canvas>
                <div id="producer_song_donutLegend" class="chart-legend"></div>
              </div>
              <!-- Show producer's song frequency line chart. -->
              <div class="line_chart">
                <canvas id="producer_song_lineChart"></canvas>
                <div id="producer_song_lineLegend" class="chart-legend"></div>
              </div>
              
              <script src="/static/producer_charts.js"></script>
              <br>
              
                <!-- Return songs producer has produced by album and year, if album exists, with links to the songs' pages. -->
              {% if album_years %}
                <div class="album-header">Albums & EPs</div>
                {% for year in album_years %}
                  <div class="year">{{year}}</div>
                  <div class="card-columns">
                    {% for album in producer.albums %}
                      {% if album.album_release_date.strftime("%Y") == year %}
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="{{ album.cover_art_url }}" alt="{{ album.album_title }}">
                          <div class="card-body">
                            <header class=""><a class="album-title" href="/albums/{{ album.album_id }}"><b><i>{{ album.album_title }}</b></i></a><br><a class="album-performer-name" href="/performers/{{ album.performers[0].performer_id }}">{{ album.performers[0].performer_name }}</a></header>
                          </div>
                          <ul class="list-group list-group-flush">
                            {% for song in album.songs %} 
                              {% if producer in song.producers %}
                                <li id="artist-song-list" class="list-group-item">
                                  <a href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endfor %}
              {% endif %}

              <!-- Return song details (title and performer and their respective pages) without albums. -->
              <div class="singles-header">Singles</div>
              <ul id="singles-list-group-flush" class="list-group list-group-flush">
                {% for song in producer.songs %}
                  {% if not song.albums %}               
                    <li id="singles-list-item" class="list-group-item">
                      <a id="singles-list-item-song-title" href="/songs/{{ song.song_id }}"><i>{{ song.song_title }}</i></a> 
                      {% if song.performers %}
                       - <a id="song-list-item-performer-name" href="/performers/{{ song.performers[0].performer_id }}">{{ song.performers[0].performer_name }}</a>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <br>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
{% endblock %}
